* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 40px 0 40px 0;
    color: aliceblue;
}

body {
    background-color: black;
}

.box, form {
    gap: 20px;
   display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

input {
    width: 250px;
    height: 30px;
    border-radius: 25px;
    padding: 0 20px 0 20px;
}

button {
    width: 120px;
    height: 25px;
}